$color_1: rgb(0, 0, 0);
$color_2: cornsilk;
$color_3: darkorchid;
$color_4: darkblue;
$color_5: white;
$color_6: aliceblue;
$font-family_1: 'Roboto', sans-serif;
$background-color_1: black;
$background-color_2: darkorchid;
$background-color_3: silver;