@import "variables";
@import "mixin";
@import "mediasq";


* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: $background-color_1;
    font-weight: 900;
    font-family: $font-family_1;
}


header {

    h1 {
        text-align: center;
        color: $color_2;
        text-decoration: underline;
        margin: 30px;
    }

    /* Boostrap nav */
    .navbarnav {
        background-color: $background-color_2;

        .navlogo {
            width: 120px;
            height: 70px;
        }

        ul {
            display: flex;
            width: 100%;
            justify-content: space-between;

            li {

                font-size: 20px;
                list-style: none;
                position: relative;
                display: inline-block;

                a {
                    color: $color_1;
                    text-transform: uppercase;
                }

            }

            li:hover {
                @include gradiente;

            }
        }

    }

}



main {
    margin: 20px;
    padding: 20px;

    /* Modificamos el texto y imagen de fondo del index */
    .imagenmastxt {
        display: flex;
        justify-content: center;
        align-items: center;

        /* subtitulos */
        .div1 {
            border-image: linear-gradient(70deg, darkblue, darkorchid);
            border-width: 6px;
            border-style: solid;
            border-image-slice: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .tamaño2 {
                // margin-bottom: 120px;
                // margin-left: 450px;
                text-align: center;
                font-size: 40px;
                color: $color_3;

            }

            /* parrafo pagina principal  */
            .parrafo1 {
                color: darkblue;
                @include gradiente;
                margin: 20px;
                font-size: 20px;
            }
        }

        .imagenfondo {
            width: 700px;
            height: 800px;
        }
    }

    .tamaño3 {
        text-align: center;
        font-size: 40px;
        color: $color_3;
        margin-bottom: 120px;
    }

    /* parrafo pagina principal  */
    .parrafo1 {
        color: $color_4;
        @include gradiente;
        margin: 20px;
        font-size: 20px;
    }

}



/* Footer */
.lineafooter {
    margin: auto;
    width: 50%;
    height: 2px;
    background-color: $background-color_3;

    .h4index {
        color: $color_2;
        text-align: center;
        font-size: 50px;

    }

}

// /* Formulario de contacto */
form {

    margin-left: 45rem;
    margin-top: 50px;
    margin-bottom: 50px;

    .nombremenu {
        color: $color_5;
        padding-left: 20px;
    }

    .textarea {
        padding-right: 20px;
    }

    .enviar {
        padding-right: 100px;
    }

    .borrar {

        padding-right: 100px;
    }

}

/* Modificamos la pagina de ARMADO DE EQUIPO */

.contenedorpadre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30vw;

    .contenedorhijo {
        position: relative;
        height: 300px;
        width: 400px;
        overflow: hidden;
        box-shadow: 0px 0px 15px darkorchid;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            transition: all 500ms ease-out;
        }

        .contenidoimg {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgb(169, 169, 169, 0.4);
            transition: all 500ms ease-out;
            opacity: 0;
            visibility: hidden;
            text-align: center;

            h3 {
                color: $color_6;
                font-weight: bold;
            }

            p {
                color: $color_1;
                text-transform: uppercase;
                font-weight: bold;
                padding: 4px;
            }
        }

    }

    .contenedorhijo:hover>.contenidoimg {
        opacity: 1;
        visibility: visible;
    }

}

// modificamos la pagina de mecanicas
.videomecanica {
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Media Querys para Pagina de armado de equipo */
@media (max-width: 977px) {
    .contenedorpadre {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: auto;
    }

}

/* Media Querys para pagina de Inicio */
@media (max-width: 770px) {

    .imagenmastxt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagenfondo {
        width: 300px;
        height: 400px;
    }

    .navbarnav {
        margin: auto;
        padding: auto;
    }

}

@media (max-width: 1750px) {
    .div1 {
        height: 800px;
        width: 300px;


    }

    form {
        margin-left: 0;

    }


}

// Pagina de mecanicas
@media (max-width: 601px) {
    .videomecanica {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 701px) {
    main .imagenmastxt .imagenfondo {
        width: 320px;
        height: 500px;
    }
}

@media (max-width: 803px) {
    .imgskins {
        width: 100%;
    }
}